nav

    .filters-container

        .filter-item.date-filter(ng-class="{filled:eventSearch.startDate}")

            a.clear-filter(href="javascript:void(0)" ng-click="datepicker.clear()" title="Limpar filtro por data" ng-show="eventSearch.startDate") &#10060;

            .date-filter-content

                .date-start.datepicker-container

                    a.button(ng-click="datepicker.start.toggle()" href="javascript:void(0);")
                        span.entypo &#128197;
                        span.the-date(ng-show="eventSearch.startDate") {{datepicker.start.view}} 
                        
                    span.until(ng-show="eventSearch.startDate") até

                    .datepicker(pickadate ng-model="eventSearch.startDate" ng-show="datepicker.start.opened" min-date="datepicker.start.minDate" max-date="datepicker.start.maxDate" default-date="datepicker.start.minDate" prev-label="'anterior'" next-label="'próximo'")

                .date-end.datepicker-container(ng-show="eventSearch.startDate")

                    a.button(ng-click="datepicker.end.toggle()" href="javascript:void(0);")
                        span.entypo &#128197;
                        span.the-date(ng-show="eventSearch.endDate") {{datepicker.end.view}}
                        span.the-date(ng-hide="eventSearch.endDate") {{datepicker.start.view}}

                    .datepicker(pickadate ng-model="eventSearch.endDate" ng-show="datepicker.end.opened" min-date="datepicker.end.minDate" max-date="datepicker.end.maxDate" default-date="eventSearch.startDate" prev-label="'anterior'" next-label="'próximo'")

        .filter-item.list-filter
            span.label Filtre por linguagens
            ul.linguagem-list
                li(ng-repeat="linguagem in linguagens" ng-class="{active: hasFilter('linguagem', linguagem), inactive: !hasFilter('linguagem', linguagem)}")
                    span.entypo(href="javascript:void(0)") &#10006;
                    a(href="javascript:void(0);" ng-click="toggleFilter('linguagem', linguagem)") 
                        {{linguagem}}
                    
                    
        .filter-item.list-filter
            span.label Filtre por tags
            ul.linguagem-list
                li(ng-repeat="tag in tags" ng-class="{active: hasFilter('tag', tag), inactive: !hasFilter('tag', tag)}")
                    span.entypo(href="javascript:void(0)") &#10006;
                    a(href="javascript:void(0);" ng-click="toggleFilter('tag', tag)")
                        {{tag}}
                        
                        
        .filter-item.list-filter.space
            span.label Filtre por espaço
            input(type="text" ng-model="spaceSearch.name" placeholder="Busque por um espaço...")
            ul.space-list
                li(ng-repeat="space in spaces" ng-class="{active: hasFilter('space', space.id), inactive: !hasFilter('space', space.id), hidden: spaceSearch.name && space.name.toLowerCase().indexOf(spaceSearch.name.toLowerCase()) === -1}")
                    span.entypo(href="javascript:void(0)") &#10006;
                    a(href="javascript:void(0);" ng-click="toggleFilter('space', space.id)")
                        {{space.name}}


        .filter-item.text-filter(ng-class="{filled:eventSearch.$}")

            a.clear-filter(href="javascript:void(0)" ng-click="eventSearch.$ = ''" title="Limpar busca" ng-show="eventSearch.$") &#10060;

            input(type="text" ng-model="eventSearch.$" placeholder="Faça uma busca...")

        .filter-item.tick-filter(ng-show="(isEventFiltering() || tag || space) && !eventSearch.startDate && service.isHappening()" ng-class="{enabled:isFutureEvents}" ng-click="toggleFutureEvents()") Eventos futuros


    a.close.entypo(href="javascript:void(0)" ng-click="eventSearch = {}" ng-show="isEventFiltering()" title="Fechar busca") &#10060;
