head
	title Mês da Cultura Independente
	meta(name="viewport" content="width=device-width,initial-scale=1.0")
	base(href= config.baseUri, target='_blank')
	link(rel='stylesheet', href= config.baseUri + 'css/base.css')
	link(rel='stylesheet', href= config.baseUri + 'css/skeleton.css')
	link(rel='stylesheet', href= config.baseUri + 'css/app.css')
