head
    title Mês da Cultura Independente
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    base(href= config.baseUri)
    link(rel="shortcut icon", href=config.baseUri + 'img/favicon.ico' type="image/x-icon")
    link(rel="icon", href=config.baseUri + 'img/favicon.ico' type="image/x-icon")
    link(rel='stylesheet', href= config.baseUri + 'css/base.css')
    link(rel='stylesheet', href= config.baseUri + 'css/skeleton.css')
    link(rel='stylesheet', href= config.baseUri + 'css/app.css')