head
    title
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    meta(name="fragment", content="!")
    meta(name="description",  mci-og="description", content="Um mês de shows, exposições, histórias em quadrinhos, literatura e cinema")
    meta(name="keywords",  mci-og="keywords", content="culturaindependente, show, exposições, histórias, quadrinhos, literatura, cinema")

    meta(property="og:type", content="website")
    meta(property="og:title" mci-og="title" content="Mês da Cultura Independente")
    meta(property="og:description" mci-og="description" content="Um mês de shows, exposições, histórias em quadrinhos, literatura e cinema")
    meta(property="og:url" mci-og="url" content="http://culturaindependente.org/")
    meta(property="og:image" mci-og="image" content= config.baseUri + "img/logo.png")

    base(href= config.baseUri)
    script(type="text/javascript")
        | var BASE_URI = "!{config.baseUri}";

    link(rel="shortcut icon", href=config.baseUri + 'img/favicon.ico' type="image/x-icon")
    link(rel="icon", href=config.baseUri + 'img/favicon.ico' type="image/x-icon")
    link(rel='stylesheet', href= config.baseUri + 'css/base.css')
    link(rel='stylesheet', href= config.baseUri + 'css/skeleton.css')
    link(rel='stylesheet', href= config.baseUri + 'css/app.css')