doctype html
html(lang='pt-BR')
    include ../includes/head
    body
        header#masthead

            h1
                a(href= config.baseUri)
                    span Mês da Cultura Independente
                    img(src= config.baseUri + 'img/logo.png', alt='Mês da Cultura Independente')

            h2
                span setembro/
                | 2015

        section#content

            header.main-header.clearfix
                block header

            section.main-content
                block content