section#list-event(ng-class="{tag: tag}")
    .ui-view
    header.list-header.main-header.clearfix
        // @TODO: REFAZER ESTE TÃTULO
        .clearfix
            h2(ng-show="tag || space")
                a(href= config.baseUri+"agenda/") Agenda
            h1
                span(ng-hide="tag || space") Agenda
                span.tag(ng-show="tag || space") {{tag || space.name}}
            include partials/filters
        .clearfix
            p(ng-show="tag") {{service.getTagDescription(tag)}}

    section#event-list.main-content
        include partials/featured
        
        section.event-results(ng-if="events[project].length > 0" ng-repeat="project in projects")
            h3(style="margin-top:100px;") {{project}}
            ul.event-list(style="margin-top:0;")
                li.clearfix(ng-repeat="event in events[project]" ng-controller="EventController" ng-click="accessEvent(event)")
                    include partials/event-list-item

        section.event-results(ng-if="events[project].length === 0")
            p.not-found(ng-hide="filteredEvents.length") Nenhum evento foi encontrado
